USE [master]
GO
/****** Object:  Database [ESTADO_2]    Script Date: 4/10/2025 20:30:56 ******/
CREATE DATABASE [ESTADO_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESTADO_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ESTADO_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESTADO_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ESTADO_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESTADO_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESTADO_2]
GO
/****** Object:  Table [dbo].[CIUDADES]    Script Date: 4/10/2025 20:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDADES](
	[ID_Ciudad] [int] IDENTITY(1,1) NOT NULL,
	[Ciudad] [varchar](100) NOT NULL,
	[Estado] [varchar](100) NOT NULL,
	[ID_Pais] [int] NOT NULL,
	[Censo_2020] [int] NULL,
	[Censo_2010] [int] NULL,
	[Variacion] [varchar](20) NULL,
	[Area_km2] [decimal](10, 2) NULL,
	[Densidad_hab_km2] [decimal](10, 2) NULL,
	[Ubicacion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 4/10/2025 20:30:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID_Pais] [int] NOT NULL,
	[Nombre_Pais] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CIUDADES]  WITH CHECK ADD  CONSTRAINT [FK_Ciudades_Pais] FOREIGN KEY([ID_Pais])
REFERENCES [dbo].[PAIS] ([ID_Pais])
GO
ALTER TABLE [dbo].[CIUDADES] CHECK CONSTRAINT [FK_Ciudades_Pais]
GO
USE [master]
GO
